dist
node_modules
tmp
out-tsc
coverage
.next
out
.turbo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

.nx/cache
.nx/workspace-data
playwright-report
test-results

.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.DS_Store
Thumbs.db
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
